:root {
	--circle-size: 50px;
	--container-size: 500px;
	--alpha: 0.15;
	--animation-speed: 15s;
}
* {
	box-sizing: border-box;
}
.great-great-grandparent {
	min-height: calc(100vh - 150px);
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.great-grandparent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.great-grandparent:nth-child(2) {
	transform: scale(1.1) rotate(45deg);
}
.grandparent {
	width: var(--container-size);
	height: var(--container-size);
	border: 1px solid rgba(0,0,0,var(--alpha));
	position: absolute;
	border-radius: 50%;
	animation-name: rotate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	display: flex;
	justify-content: center;
}
.grandparent:nth-child(1) {
	animation-duration: var(--animation-speed);
} 
.grandparent:nth-child(2) {
	animation-direction: reverse;
	animation-duration: var(--animation-speed);
} 
.grandparent:nth-child(3),
.grandparent:nth-child(4) {
	width: calc(var(--container-size) * 0.66);
	height: calc(var(--container-size) * 0.66);
	animation-duration: var(--animation-speed);
} 
.grandparent:nth-child(5),
.grandparent:nth-child(6) {
	width: calc(var(--container-size) * 0.33);
	height: calc(var(--container-size) * 0.33);
	animation-duration: var(--animation-speed);
} 
.grandparent:nth-child(4) {
	animation-direction: reverse;
} 

.grandparent .parent {
	border: 1px solid rgba(0,0,0,var(--alpha));
	height: calc(var(--container-size) / 2);
	position: absolute;
}
.grandparent:nth-child(3) .parent,
.grandparent:nth-child(4) .parent {
	height: calc(var(--container-size) * 0.66 / 2) 
}
.grandparent:nth-child(5) .parent,
.grandparent:nth-child(6) .parent {
	height: calc(var(--container-size) * 0.33 / 2);
}
.grandparent .parent .child {
	width: var(--circle-size);
	height: var(--circle-size);
	border-radius: 60%;
	background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 78%, rgba(0,0,0,1) 100%);
	position: relative;
	animation-duration: 6s;
	animation-name: up-down;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	background-color: red;
}
.grandparent:nth-child(3) .parent .child,
.grandparent:nth-child(4) .parent .child {
	width: calc(var(--circle-size) / 2);
	height: calc(var(--circle-size) / 2);
	animation-duration: 9s;
	
}
.grandparent:nth-child(5) .parent .child,
.grandparent:nth-child(6) .parent .child {
	width: calc(var(--circle-size) / 3);
	height: calc(var(--circle-size) / 3);
	animation-duration: 9s;
	
}
.grandparent .parent:nth-child(2) {
	transform: rotate(90deg);
	transform-origin: 50% 100%;
}
.grandparent .parent:nth-child(3) {
	transform: rotate(180deg);
	transform-origin: 50% 100%;
}
.grandparent .parent:nth-child(4) {
	transform: rotate(-90deg);
	transform-origin: 50% 100%;
}

@media (min-width: 1024px) {
	.great-great-grandparent {
		min-width: calc(100vw - 200px);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}


@keyframes up-down {
	0% {
		top: 0;
		transform: scale(1);
	}
	50% {
		transform: scale(0.25);
		top: calc(100% - var(--circle-size));
	}
	100% {
		top: 0;
		transform: scale(1);
	}
}

