:root {
	--primary-color: #00aeef;
	--secondary-color: #0096f1;
	--blue-box-shadow: rgba(0, 150, 241, 0.75);
}

#transition-example-project {
	margin: 10px auto;
	width: 80%;
	overflow: hidden;
	border: 3px solid var(--secondary-color);
	/* border-top: none;
	border-left: none; */
	border-radius: 5px;
}

#transition-example-project main {
	display: flex;
}

#transition-example-project main div {
	/* display: flex; */
	/* width: calc(100% - 200px); */
	width: 100%;
}

#transition-example-project nav {
	font-size: 12px;
	background-color: var(--primary-color);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	height: var(--nav-height);
}

#transition-example-project nav h1 {
	position: absolute;
	z-index: 34;
	padding-left: 10px;
	display: flex;
	align-items: center;
	font-size: 24px;
	width: 100%;
	height: 50px;
	color: white;
	background-color: var(--primary-color);
}
#transition-example-project nav input[type="checkbox"] {
	position: absolute;
	z-index: 36;
	cursor: pointer;
	right: 10px;
	width: 40px;
	height: 40px;
	opacity: 0;
}
#transition-example-project nav .hamburger {
	position: absolute;
	z-index: 35;
	right: 10px;
	width: 40px;
}
#transition-example-project nav .hamburger span {
	display: block;
	border-bottom: 3px solid white;
	margin-bottom: 4px;
}
#transition-example-project nav .hamburger span {
	transition: transform var(--transition-speed);
}
#transition-example-project nav .hamburger span:last-child {
	margin-bottom: 0;
}
#transition-example-project nav input[type="checkbox"] + .hamburger + ul {
	position: absolute;
	z-index: 31;
	left: 0;
	width: 100%;
	top: calc(4 * -36px); /* 36 = 20px top and bottom padding plus 16px font size */
	transition: top 1s;
}
#transition-example-project nav input[type="checkbox"] + .hamburger + ul li button {
	display: block;
	text-align: left;
	cursor: pointer;
	border: none;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	background-color: var(--secondary-color);
	transition: background-color 0.5s, color 0.5s;
}
#transition-example-project nav input[type="checkbox"] + .hamburger + ul li  button:hover {
	background-color: #999;
	/* color: var(--primary-color); */
}


/* TRANSITIONS WHEN CHECKED  */
#transition-example-project input[type="checkbox"]:checked + .hamburger span:first-child{
	transform: translate(0, 7px);
}
#transition-example-project input[type="checkbox"]:checked + .hamburger span:last-child{
	transform: translate(0, -7px);
}
#transition-example-project input[type="checkbox"]:checked + .hamburger + ul {
	top: 50px;
}

/* SIDEBAR  */

#transition-example-project aside {
	min-height: 450px;
	position: relative;
	z-index: 30;
	/* width: 200px; */
	background-color: var(--primary-color);
	border-top: 1px solid rgba(255,255,255,0.5)
}

#transition-example-project aside ul li button {
	width: 100%;
	border: none;
	background-color: var(--primary-color);
	text-align: left;
	cursor: pointer;
	position: relative;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
	transition: background-color 0.5s, color 0.5s;
}

#transition-example-project aside ul li button span {
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	transition: left 0.5s, background-color 0.5s;
}

#transition-example-project aside ul li  button:hover {
	color: var(--primary-color);
	background-color: white;
}

#transition-example-project aside ul li  button:hover span {
	left: calc(100% - 5px);
	background-color: var(--primary-color);
}

/* BUTTON */



#transition-example-project main > div button {
	position: relative;
	z-index: 22;
	display: block;
	margin: 20px auto;
	border-radius: 15px;
	
	border: none;
	padding: 10px 20px;
	font-size: 12px;
	font-weight: bold;
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
	transition: background-color 1s, transform 0.25s;
}




#transition-example-project main > div button:hover {
	border: 2px solid var(--secondary-color);
	background-color: white;
	transform: scale(1.1);
	color: var(--primary-color);
	box-shadow: 0 5px 5px var(--blue-box-shadow);
}



#transition-example-project main > div button:active {
	transform: scale(0.9);
	box-shadow: 0 2px 10px var(--blue-box-shadow);
}


@media (min-width: 1024px) {
	#transition-intro {
		width: calc(100vw - 200px);
	}
	#transition-example-project main div {
		/* display: flex; */
		width: calc(100% - 200px);
	}
	#transition-example-project aside {
		width: 200px;
	}
	#transition-example-project aside ul li button {
		padding: 10px 20px;
		font-size: 18px;
	}
	#transition-example-project main > div button {
		padding: 20px 30px;
		font-size: 24px;
	}
	
}