.list-template {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}
.list-template h4 {
	text-align: left;
	width: 95%;
}

.list-template ul {
	width: 95%;
  text-align: left;
  list-style-type: none;
}

.list-template ul li {
  position: relative;
  cursor: pointer;
  margin: 3px auto;
}
 ul li div.label {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  z-index: 34;
  width: 100%;
  transition: background-color var(--transition-timing);
}
.list-template ul li input {
  cursor: pointer;
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 35;
  opacity: 0;
}
.list-template ul li input:hover ~ div.label {
  background-color: rgba(0, 0, 0, 0.5);
}

.list-template ul li div.discussion {
  min-height: 0;
  font-size: 0;
  transition: min-height 1s;
}

.list-template ul li input:checked ~ div.discussion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  min-height: 200px;
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
}

input[type="checkbox"]:checked ~ .discussion > div {
  position: relative;
  margin: 0 auto;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.list-template ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  text-align: left;
  width: 100%;
  display: block;
}

.list-template .aside {
  text-align: right;
  font-size: 0.75rem;
  font-style: italic;
  width: 95%;
  margin: 0 auto;
}
.asterisk {
	color: red;
  }
  
@media (min-width: 1024px) {
  .list-template {
    padding: 0;
    width: calc(100vw - 200px);
  }

  .list-template ul,
  .list-template .aside {
    width: 80%;
  }
}
