#side-bar {
	background-color: #333;
	color: white;
	text-align: right;
}

#side-bar h4 {
	padding: 5px 10px;
	border-top: 1px solid #FF00FF;
	border-bottom: 1px solid #FF00FF;
	text-align: left;
	display: flex;
	align-items: center;
}

#side-bar h4 a {
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}


#side-bar ul {
	display: flex;
	list-style-type: none;
	width: 100vw;
}

#side-bar ul li {
	cursor: pointer;
}

#side-bar ul li a {
	display: block;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	transition: background-color 0.5s;
}

#side-bar ul li.active a {
	background-color: white;
}
#side-bar ul li.active a {
	color: black;
}
@media (min-width: 1024px) {
	#side-bar {
		height: 100vh;
		background-color: black;
		color: white;
		text-align: right;
		width: 200px;
		min-width: 200px;
	}
	#side-bar ul {
		flex-direction: column;
		width: auto;
	}


}