#side-bar {
	background-color: #333;
	color: white;
	text-align: right;
	position: relative;
	z-index: 80;
}

#side-bar h4 {
	padding: 5px 10px;
	border-top: 1px solid rgba(255,255,255,0.25);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	text-align: left;
	display: flex;
	align-items: center;
	transition: background-color var(--transition-timing);
}

#side-bar h4:hover {
	background-color: rgba(255,255,255,0.5);
	color: black;
	cursor: pointer;
}

#side-bar h4 a {
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}


#side-bar ul {
	display: flex;
	list-style-type: none;
	width: 100vw;
	position: relative;
}

#side-bar ul li {
	cursor: pointer;
	position: relative;
}

#side-bar ul li a {
	display: block;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	transition: background-color 0.5s;
}

#side-bar ul li.active a {
	background-color: white;
}
#side-bar ul li.active a {
	color: black;
}

@media (min-width: 1024px) {
	#side-bar {
		height: 100vh;
		background-color: black;
		color: white;
		text-align: right;
		width: 200px;
		min-width: 200px;
	}
	#side-bar ul {
		flex-direction: column;
		width: auto;
		
	}
	#side-bar ul li span {
		position: absolute;
		display: block;
		width: 5px;
		background-color: rgba(255,255,255,0.5);
		height: 100%;
		left: 0;
		transition: left var(--transition-timing), width var(--transition-timing);
	}
	#side-bar ul li:hover span {
		left: calc(100% - 2px);
		width: 2px;
	}
	#side-bar ul li.active span {
		width: 2px;
		background-color: black;
		left: calc(100% - 2px);
	}

}