#welcome-div {
  width: 95%;
  margin: 10px auto;
  position: relative;
}

#welcome-div img {
  position: absolute;
  transform-origin: center;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#welcome-div img {
  left: -30px;
  height: 100%;
  z-index: 1;
}

#welcome-div h1 {
  position: relative;
  z-index: 2;
}

@media (min-width: 1024px) {
  #welcome-div {
    width: 80%;
    margin: 10px auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
