#main-nav ul {
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	border-bottom: 1px solid #333;
}
 #main-nav ul li {
 padding: 5px;
}
#main-nav ul li a {
	margin: 0 20px;
	text-decoration: none;
	font-weight: bold;
	color: #333;
}
