#main-nav {
	position: relative;
	z-index: 2;
	height: 50px;
	width: 100vw;
	background-color: white;
	/* border: 1px solid red; */
}
 ul.nav-links {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	justify-content: flex-end;
	position: relative;
	width: 100vw;
	margin-top: -100px;
	border: 1px solid black;
	z-index: 1;
	transition: margin 1s ease-in-out;
	background-color: black;
}

#main-nav .nav-hamburger:checked~ul.nav-links {
	margin-top: 50px;
}


#main-nav ul li {
 	padding: 5px;
}

#main-nav ul li a {
	margin: 0 20px;
	text-decoration: none;
	font-weight: bold;
	/* color: white; */
}
#main-nav ul li.active {
	background-color: white;
}
#main-nav ul li.active a {
	color: black;
}

@media (min-width: 1024px) {



}