#easing #track {
	height: 20px;
	position: relative;
	background-color: black;
	width: 80%;
	margin: 10px auto;
}

#easing #track #vehicle {
	height: 60px;
	width: 60px;
	position: absolute;
	top: -20px;
	left: 0;
	background-color: green;
}