.track {
	background-color: lightgray;
	width: 95%;
	margin: 20px auto;
	position: relative;
	display: flex;
	align-items: center	;
	cursor: pointer;
}
.track h4{ 
	position: absolute;
	text-align: right;
	width: 100%;
	font-size: 30px;
	padding-right: 10px;;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgba(0, 0, 0, 0.5)
}
.track:hover {
	background-color: yellow;
}
.track img {
	position: relative;
	left: 0;
	transition:  left;
	transition-duration: 1.5s;
}
.track:hover img {
	left: calc(100% - 100px);
}
#track-1 img {
	transition-timing-function: linear;
}

#track-2 img {
	transition-timing-function: ease-in;
}

#track-3 img {
	transition-timing-function: ease-out;
}

#track-4 img {
	transition-timing-function: ease-in-out;
}

#track-5 img {
	transition-timing-function: cubic-bezier(.47,1.64,.41,.8);
}

.easing-credit {
	position: absolute;
	width: 100%;
	text-align: right;
	bottom: -15px;
	font-size: 10px;
}

@media (min-width: 1024px) {
	.track {
		width: 50%;
	}

}